.containerCreate{
    width: 75vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    background-color: white;
    display:flex;
    box-shadow: 1px 1px 25px grey;
    form{
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 100px;
        padding: 20px 0;
        .formCreate{
            .formTitle{
                color: $darkblue;
                width: 75%;
                margin-left: auto;
                margin-right: auto;
                font-size: 25px;
            }
            .formWidget{
                width: 75%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 15px;
                .formErrors{
                    color: $redlight;
                }
                input{
                    width: 100%;
                    height: 35px;
                    border: 1px solid #222f3e;
                    &:focus{
                        background-color: #222e3e0e;
                    }
                }
                textarea{
                    width: 100%;
                    height: 75px;
                    resize: none;
                    border-radius: 5px;
                }
                #property_description{
                    font-family: 'roboto';
                }
                #property_category{
                    width: 100%;
                    height: 35px;
                }
                #property_type{
                    width: 100%;
                    height: 35px;
                }
                #property_imageFile{
                    height: 23px;
                }
            }
            .containerSelect{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                .formTitle{
                    height: 30px;
                }
            }
            @media screen and (max-width: 1000px) and (min-width: 768px) {
                .formTitle{
                    font-size: 20px;
                }
            }
            @media screen and (max-width: 768px) and (min-width: 350px) {
                .formTitle{
                    font-size: 15px;
                    width: 90%;
                }
                .formWidget{
                    width: 90%;
                }
            }
        }
        .btn-create{
            margin-top: 20px;
            padding: 10px 50px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: $darkblue;
            border: none;
            color: white;
            cursor: pointer;
            &:hover{
                background: $redlight;
            }
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 350px){
    .containerCreate{
        width: 90vw;
        padding-top: 0px;
        form{
            width: 100%;
            .formCreate > .formWidget{
                width: 90%;
            }
        }
    }
}