.containerHome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/background-image.png);
    background-size: cover;
    .containerMsgHome{
        width: 100%;
        height: 30vh;
        .titleHome{
            padding: 75px;
            color: $darkblue;
            h1{
                font-size: 50px;
                margin: 10px 0;
                text-transform: uppercase;
            }
            @media screen and (max-width: 768px) and (min-width: 350px){
                h1{
                    font-size: 20px;
                }
            }
            @media screen and (max-width: 768px) and (min-width: 350px){
                h3{
                    font-size: 15px;
                }
            }
        }
        @media screen and (max-width: 768px) and (min-width: 350px){
            .titleHome{
                padding: 10px;
            }
        }
        @media screen and (max-width: 975px) and (min-width: 768px){
            .titleHome{
                padding: 50px;
                font-size: 15px;
                h1{
                    font-size: 40px;
                }
            }
        }
    }
    @media screen and (max-width: 768px) and (min-width: 350px){
        .containerMsgHome{
            height: 25vh;
        }
    }
    @media screen and (max-width: 975px) and (min-width: 768px){
        .containerMsgHome{
            height: 25vh;
        }
    }
    .containerCarousel{
        width: 955px;
        height: 475px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: white;
        box-shadow: 1px 1px 20px black;
        .titleSlide{
            height: 50px;
            align-items: center;
            display: flex;
        }
        .slider {
            width: 915px;
            overflow: hidden;
            margin: auto;
            .slides{
                width: calc(750px * 5);
                animation: glisse 50s cubic-bezier(0, 0, 1, 1) infinite;
                .slide{
                    float: left;
                    margin: 0px 10px;
                }
            }
        }
        @keyframes glisse {
            0%{
                transform: translateX(0px)
            }
            50%{
                transform: translateX(-900px)
            }
            100%{
                transform: translateX(0px)
            }
        }
    }
    @media screen and (max-width: 768px) and (min-width: 350px){
        .containerCarousel{
            width: 350px;
            height: 250px;
            .titleSlide{ 
                height: 25px;
                    h3{
                    font-size: 10px;
                }
            }
            .slider{
                width: 325px;
                height: 190px;
                .slides{
                    width: calc(235px * 5);
                    animation: glisse 20s cubic-bezier(0, 0, 1, 1) infinite;
                    .slide > img{
                        width: 235px;
                        height: 225px;
                    }
                }
                @keyframes glisse {
                    0%{
                        transform: translateX(0px)
                    }
                    50%{
                        transform: translateX(-410px)
                    }
                    100%{
                        transform: translateX(0px)
                    }
                }
            }
        }
    }
    @media screen and (max-width: 975px) and (min-width: 768px){
        .containerCarousel{
            width: 80%;
            height: 400px;
            .titleSlide{ 
                height: 25px;
                    h3{
                    font-size: 15px;
                }
            }
            .slider{
                width: 575px;
                height: 300px;
                .slides{
                    width: calc(235px * 5);
                    animation: glisse 15s cubic-bezier(0, 0, 1, 1) infinite;
                    .slide > img{
                        width: 375px;
                        height: 300px;
                    }
                }
                @keyframes glisse {
                    0%{
                        transform: translateX(0px)
                    }
                    50%{
                        transform: translateX(-575px)
                    }
                    100%{
                        transform: translateX(0px)
                    }
                }
            }
        }
    }
}
