*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 75px;
    display: flex;
    background-color: $darkblue;
    nav{
        font-family: 'roboto', arial, helvetica;
        color: #ff5252;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
//        background-color: black;
        top: 0;
        width: 100%;
        z-index: 2;
        .logo{
            margin: 6px;
            font-size: 25px;
            text-transform: uppercase;
            color: white;
            letter-spacing: -3px;
            word-spacing: 10px;
        }
        .mainMenu{
            display: flex;
            list-style: none;
            li > a{
                display: inline-block;
                padding: 50px 15px 10px 15px;
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                font-size: 15px;
                font-weight: bold;
                &:hover{
                    background:#ff5252;
                    transform: scale(1.15);
                    transition: all 0.35s ease-in-out;
                    z-index: 1;
                }
            }
        }
        .openMenu{
            font-size: 2rem;
            margin: 20px;
            display: none;
            cursor: pointer;
            }
        .mainMenu .closeMenu, > i{
            font-size: 2rem;
            display: none;
            cursor: pointer;
        }
    }
    @media screen and (max-width: 768px) and (min-width: 500px){
        .containerLogo > a > h2{
            font-size: 20px;
        } 
        nav .mainMenu{
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
            transition: top 1s ease-in-out;
            display: none;
            li > a{
                color: $darkblue;
                font-size: 30px;
            }
        }
        nav .mainMenu .closeMenu{
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        nav .openMenu{
            display: block;
        }
        nav .mainMenu li a:hover{
            background: none;
            color: #ff5252;
            font-size: 1,5rem;
        }
    }
    @media screen and (max-width: 900px) and (min-width: 768px){
        nav > .mainMenu > li > a{
            font-size: 12px;
        }
    }
}