.messageFlash{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    padding: 40px;
    background: linear-gradient(to right, #D4EDD9, rgba(0, 0, 0, 0));
}
.create{
    position: relative;
    color: $redlight;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 25px auto;
    border: 4px solid $redlight;
    overflow: hidden;
    transition: color 0.8s ease;
    &:hover{
        color: white;
        &::before{
            transform: translate(-50%, -50%) rotate(22deg) scaleY(5);
            background-color: $redlight;
        }
    }
    &::before{
        background-color: $redlight;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all 0.8s ease;
        width: 120%;
        height: 100%;
        transform: translate(-50%, -50%) rotate(22deg) scaleY(0);
    }
}
@media screen and (max-width: 768px) and (min-width: 350px){
    .create{
        width: 350px;
        font-size: 15px;
    }
}
.containerUser{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 20px;
    .containerInfoProfil{
        width: 430px;
        height: 650px;
        margin-bottom: 40px;
        margin-right: 40px;
        margin-left: 40px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 1px 1px 25px gray;
        border: 5px solid blue;
        border-image: linear-gradient(to right, #8e0e00, #e76464, #8e0e00);
        border-image-slice: 1;
        .contentTitle{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
        }    
        @media screen and (max-width: 768px) and (min-width: 350px){
            .contentTitle > h3{
                font-size: 15px;
                            margin: 15px 0px 0px 20px;
            }
        }
        .titleIdentity{
            background-color: $darkblue;
            color: white;
            padding: 10px;
            margin-bottom: 10px;
            h4{
                align-items: center;
                display: flex;
                i{
                    font-size: 25px;
                    margin-right:15px;
                }
            }
        }
        ul{
            list-style-type: none;
            margin-bottom: 20px;
            li{
                margin: 7px 0;
                padding-left: 10px;
                i{
                    margin-right: 10px;
                }
            }
        }
        a{
            padding: 15px;
            background: white;
            text-align: center;
            text-decoration: none;
            color: $redlight;
            border: 4px solid $redlight;
            &:hover{
                background: $redlight;
                color: white;
            }
        }
    }
    @media screen and (max-width: 768px) and (min-width: 350px){
        .containerInfoProfil > h3{
            font-size: 15px;
            margin: 5px 0px 25px 15px;
        }
    }
    .containerCardUser{
        width: 1130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .contentTitle{
            width: 100%;
            margin: 15px 0px 0px 20px;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
        }
        .cardUser{
            width: 350px;
            height: 515px;
            margin: 0 10px 20px;
            padding: 20px;
            background-color: white;
            box-shadow: 1px 1px 10px grey;
            font-family: "roboto";
            border: 5px solid blue;
            border-image: linear-gradient(to right, #2c3e50, #3498db, #2c3e50);
            border-image-slice: 1;
            .imgUser{
                width: 100%;
                height: 250px;
            }
            .titleCardUser{
                padding: 10px 0;
                font-weight: bold;
                color: $redlight;
            }
            ul{
                list-style-type: none;
                padding: 10px 0;
            }
            .metadata{
                padding: 10px 0;
            }
            .actionUser{
                display: flex;
                justify-content: space-between;
                margin: 15px 0px 0px 0px;
                .showUser{
                    padding: 10px 28px;
                    background-color: $darkblue;
                    display: flex;
                    align-items: center;
                    > a{
                        text-decoration: none;
                        color: white;
                    }
                    &:hover{
                        background-color: $redlight;
                        cursor: pointer;
                    }
                }
                .editUser{
                    padding: 10px 34px;
                    background-color: $darkblue;
                    display: flex;
                    align-items: center;
                    > a{
                        color: white;
                    }
                    &:hover{
                        background-color: $redlight;
                        cursor: pointer;
                    }
                }
                .btn-delete{
                    padding: 12px 34px;
                    background-color: white;
                    color: $redlight;
                    border: 3px solid $redlight;
                    cursor: pointer;
                    &:hover{
                        background-color: $redlight;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1649px) and (min-width: 1000px){
        .containerCardUser{
            width: 1150px;
            display: flex;
            justify-content: center;
        }
    }
    @media screen and (max-width: 1000px) and (min-width: 768px){
        .containerCardUser{
            width: 520px;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 15px;
            margin-left: 0px;
        }
    }
    @media screen and (max-width: 768px) and (min-width: 350px){
        .containerCardUser{
            width: 430px;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 15px;
            margin-right: 12px;
            margin-left: 12px;
            .contentTitle > h3{
                font-size: 15px;
            }
            .cardUser{
                margin-left: 0;
                margin-bottom: 10px;
                margin: 0 10px 15px;
            }
        }
    }
}
@media screen and (max-width: 768px) and (min-width: 350px){
    .containerUser{
        width: 100%;
        margin-top: 15px;
        .containerInfoProfil{
            margin-bottom: 15px;
            margin-right: 5px;
            margin-left: 5px;
            padding: 0 30px;
            height: 615px;
        }
    }
}