{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <p class="titre">{% block titre %}Se connecter{% endblock %}</p>

    {% if error %}
        <p class="errorLogin">Les informations sont incorrectes</p>
    {% endif %}

    <div class="containerLogin">
        <form class="formLogin" action="{{ path('security_login') }}" method="POST">
                <input type="text" placeholder="Adresse email" require name="_username">
                <input type="password" placeholder="Mot de passe" require name="_password">
            <input type="submit" class="btn-login" value="S'identifier">
        </form>
    </div>
    
{% endblock %}