{% extends 'base.html.twig' %}

{% block title %}Agence Code{% endblock %}

{% block body %}

    

        <div class="containerHome">
        ...
        </div>

        <div class="containerCarousel">

            {% for properties in property %}
                <div class="slideShow">
                    <ul>
                        <li><img src="{{ asset('img/' ~ properties.pictures )}}" width="400" height="250"></li>
                    </ul>
                </div>
            {% endfor %}
        </div>

        
{% endblock %}
