@font-face {
  font-family: "police-logo";
  src: url("../police/ArchivoBlack-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #1e272e;
}
header nav {
  width: 100%;
  height: 90px;
  font-family: "roboto", arial, helvetica;
  color: #ff5252;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #1e272e;
  top: 0;
  z-index: 2;
}
header nav .logo {
  margin: 6px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: -3px;
  word-spacing: 10px;
  text-decoration: none;
}
header nav .mainMenu {
  display: flex;
  list-style: none;
}
header nav .mainMenu li > a {
  display: inline-block;
  padding: 60px 15px 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
header nav .mainMenu li > a:hover {
  background: #ff5252;
  transform: scale(1.15);
  transition: all 0.35s ease-in-out;
  z-index: 1;
}
header nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
header nav .mainMenu .closeMenu, header nav > i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) and (min-width: 300px) {
  header .containerLogo > a > h2 {
    font-size: 20px;
  }
  header nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: top 1s ease-in-out;
    display: none;
  }
  header nav .mainMenu li > a {
    color: #1e272e;
    font-size: 30px;
  }
  header nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  header nav .openMenu {
    display: block;
  }
  header nav .mainMenu li a:hover {
    background: none;
    color: #ff5252;
    font-size: 1, 5rem;
  }
}
@media screen and (max-width: 900px) and (min-width: 768px) {
  header nav > .mainMenu > li > a {
    font-size: 12px;
  }
}

body {
  font-family: "roboto";
  width: 100%;
  height: 100vh;
  background-image: url(../img/new-york.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .filter {
  filter: blur(5px);
  width: 100%;
  height: 100vh;
  z-index: 0;
}
body .titre {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px 0 45px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
body .titre::before, body .titre::after {
  content: "";
  height: 2px;
  border-radius: 5px;
  width: 20%;
}
body .titre::before {
  margin-right: 10px;
  margin-left: 2%;
  background: linear-gradient(to right, transparent, white);
}
body .titre::after {
  margin-right: 2%;
  margin-left: 10px;
  background: linear-gradient(to left, transparent, white);
}
@media screen and (max-width: 975px) and (min-width: 768px) {
  body .titre {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  body .titre {
    font-size: 20px;
  }
}

.containerHome {
  background-image: url(../img/new-york.jpeg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.containerHome .containerMsgHome {
  width: 100%;
  height: 30vh;
}
.containerHome .containerMsgHome .titleHome {
  padding: 75px;
  color: white;
}
.containerHome .containerMsgHome .titleHome h1 {
  font-size: 50px;
  margin: 25px 0;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerHome .containerMsgHome .titleHome h1 {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerHome .containerMsgHome .titleHome h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerHome .containerMsgHome .titleHome {
    padding: 10px;
  }
}
@media screen and (max-width: 975px) and (min-width: 768px) {
  .containerHome .containerMsgHome .titleHome {
    padding: 50px;
  }
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerHome .containerMsgHome {
    height: 25vh;
  }
}
@media screen and (max-width: 975px) and (min-width: 768px) {
  .containerHome .containerMsgHome {
    height: 20vh;
  }
}
.containerHome .containerCarousel {
  width: 955px;
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 20px black;
}
.containerHome .containerCarousel .titleSlide {
  height: 50px;
  align-items: center;
  display: flex;
}
.containerHome .containerCarousel .slider {
  width: 915px;
  overflow: hidden;
  margin: auto;
}
.containerHome .containerCarousel .slider .slides {
  width: calc(750px * 5);
  animation: glisse 50s cubic-bezier(0, 0, 1, 1) infinite;
}
.containerHome .containerCarousel .slider .slides .slide {
  float: left;
  margin: 0px 10px;
}
@keyframes glisse {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerHome .containerCarousel {
    width: 350px;
    height: 250px;
  }
  .containerHome .containerCarousel .titleSlide {
    height: 25px;
  }
  .containerHome .containerCarousel .titleSlide h3 {
    font-size: 10px;
  }
  .containerHome .containerCarousel .slider {
    width: 325px;
    height: 190px;
  }
  .containerHome .containerCarousel .slider .slides {
    width: calc(235px * 5);
    animation: glisse 20s cubic-bezier(0, 0, 1, 1) infinite;
  }
  .containerHome .containerCarousel .slider .slides .slide > img {
    width: 235px;
    height: 225px;
  }
  @keyframes glisse {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-410px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
@media screen and (max-width: 975px) and (min-width: 768px) {
  .containerHome .containerCarousel {
    width: 600px;
    height: 250px;
  }
  .containerHome .containerCarousel .titleSlide {
    height: 25px;
  }
  .containerHome .containerCarousel .titleSlide h3 {
    font-size: 15px;
  }
  .containerHome .containerCarousel .slider {
    width: 525px;
    height: 190px;
  }
  .containerHome .containerCarousel .slider .slides {
    width: calc(235px * 5);
    animation: glisse 5s cubic-bezier(0, 0, 1, 1) infinite;
  }
  .containerHome .containerCarousel .slider .slides .slide > img {
    width: 235px;
    height: 225px;
  }
  @keyframes glisse {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-210px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerHome {
    height: auto;
  }
}
section {
  width: 100%;
}
section .containerCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 5%;
}
section .containerCard .card {
  width: 350px;
  height: 550px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px grey;
  font-family: "roboto";
  position: relative;
}
section .containerCard .card img {
  width: 100%;
  height: 250px;
}
section .containerCard .card .titleCard {
  padding: 10px 0;
  font-weight: bold;
  color: #ff5252;
}
section .containerCard .card ul {
  list-style-type: none;
  padding: 10px 0;
}
section .containerCard .card .showProperty > a {
  padding: 10px 15px;
  background-color: #1e272e;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}
section .containerCard .card .showProperty > a:hover {
  background-color: #ff5252;
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  section .containerCard .card {
    margin-left: 0;
  }
}

.back {
  margin-left: 75px;
  display: inline;
  padding: 5px 10px;
  border-radius: 40px;
  background-color: #ff5252;
  color: white;
  font-size: 30px;
}
.back:hover {
  background-color: white;
  color: #ff5252;
  transition: all 0.5s ease-in-out;
}

.containerShow {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 15px;
  color: #1e272e;
  background-color: white;
  box-shadow: 1px 1px 30px grey;
}
.containerShow .containerPicture {
  width: 100%;
}
.containerShow .containerPicture .pictureShow {
  width: 100%;
}
.containerShow .contentShow {
  width: 100%;
}
.containerShow .contentShow .cardShow {
  padding-left: 30px;
}
.containerShow .contentShow .cardShow h2 {
  padding: 15px 0;
  color: #ff5252;
}
@media screen and (max-width: 900px) and (min-width: 500px) {
  .containerShow .contentShow .cardShow {
    font-size: 15px;
    padding: 0;
  }
}
@media screen and (max-width: 500px) and (min-width: 350px) {
  .containerShow .contentShow .cardShow {
    font-size: 10px;
    padding: 0;
  }
}
.containerShow .contentShow .cardShow ul {
  list-style-type: none;
  padding-bottom: 15px;
}
.containerShow .contentShow .cardShow p {
  padding: 5px 0;
}
.containerShow #b2 {
  margin: 30px;
  padding: 15px;
  background-color: #ff5252;
  font-size: 15px;
  color: white;
  border: none;
  cursor: pointer;
}
@media (max-width: 900px) and (min-width: 500px) {
  .containerShow #b2 {
    font-size: 15px;
    padding: 10px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 500px) and (min-width: 350px) {
  .containerShow #b2 {
    font-size: 10px;
    padding: 10px;
    margin-left: 0px;
  }
}

.showContact {
  display: none;
  margin-left: 30px;
  padding-top: 15px;
}
.showContact p > i {
  font-size: 20px;
  padding-right: 10px;
  padding-top: 10px;
}

@media (max-width: 900px) and (min-width: 500px) {
  .showContact {
    margin-left: 0;
  }
  .showContact p {
    font-size: 15px;
  }
  .showContact p i {
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) and (min-width: 350px) {
  .showContact {
    margin-left: 0;
  }
  .showContact p {
    font-size: 10px;
  }
  .showContact p i {
    font-size: 10px;
  }
}
.messageFlash {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  padding: 40px;
  background: linear-gradient(to right, #D4EDD9, rgba(0, 0, 0, 0));
}

.create {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  margin: 25px auto;
  border: 2px solid white;
  overflow: hidden;
  transition: color 0.8s ease;
}
.create:hover {
  color: white;
}
.create:hover::before {
  transform: translate(-50%, -50%) rotate(22deg) scaleY(5);
  background-color: #ff5252;
}
.create::before {
  background-color: #ff5252;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.8s ease;
  width: 120%;
  height: 100%;
  transform: translate(-50%, -50%) rotate(22deg) scaleY(0);
}

@media screen and (max-width: 768px) and (min-width: 350px) {
  .create {
    width: 350px;
    font-size: 15px;
  }
}
.containerUser {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 77%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 20px;
}
.containerUser h3 {
  margin-bottom: 30px;
}
.containerUser .containerInfoProfil {
  width: 430px;
  height: 650px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.containerUser .containerInfoProfil .titleIdentity {
  background-color: #1e272e;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.containerUser .containerInfoProfil .titleIdentity h4 {
  align-items: center;
  display: flex;
}
.containerUser .containerInfoProfil .titleIdentity h4 i {
  font-size: 25px;
  margin-right: 15px;
}
.containerUser .containerInfoProfil ul {
  list-style-type: none;
  margin-bottom: 20px;
}
.containerUser .containerInfoProfil ul li {
  margin: 7px 0;
  padding-left: 10px;
}
.containerUser .containerInfoProfil ul li i {
  margin-right: 10px;
}
.containerUser .containerInfoProfil a {
  padding: 15px;
  background: #ff5252;
  text-align: center;
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerUser .containerInfoProfil > h3 {
    font-size: 15px;
    margin: 5px 0px 25px 15px;
  }
}
.containerUser .containerCardUser {
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: white;
}
.containerUser .containerCardUser .contentTitle {
  width: 100%;
  height: auto;
  margin: 15px 0px 0px 20px;
  display: flex;
  flex-direction: column;
}
.containerUser .containerCardUser .cardUser {
  width: 350px;
  height: 515px;
  margin-left: 20px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 1px 10px grey;
  font-family: "roboto";
}
.containerUser .containerCardUser .cardUser .imgUser {
  width: 100%;
  height: 250px;
}
.containerUser .containerCardUser .cardUser .titleCardUser {
  padding: 10px 0;
  font-weight: bold;
  color: #ff5252;
}
.containerUser .containerCardUser .cardUser ul {
  list-style-type: none;
  padding: 10px 0;
}
.containerUser .containerCardUser .cardUser .metadata {
  padding: 10px 0;
}
.containerUser .containerCardUser .cardUser .actionUser {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 0px 0px;
}
.containerUser .containerCardUser .cardUser .actionUser .showUser {
  padding: 10px 34px;
  background-color: #1e272e;
}
.containerUser .containerCardUser .cardUser .actionUser .showUser > a {
  text-decoration: none;
  color: white;
}
.containerUser .containerCardUser .cardUser .actionUser .showUser:hover {
  background-color: #ff5252;
  cursor: pointer;
}
.containerUser .containerCardUser .cardUser .actionUser .editUser {
  padding: 10px 34px;
  background-color: #1e272e;
}
.containerUser .containerCardUser .cardUser .actionUser .editUser > a {
  color: white;
}
.containerUser .containerCardUser .cardUser .actionUser .editUser:hover {
  background-color: #ff5252;
  cursor: pointer;
}
.containerUser .containerCardUser .cardUser .actionUser .btn-delete {
  padding: 12px 34px;
  background-color: white;
  color: #ff5252;
  border: 2px solid #ff5252;
  cursor: pointer;
}
.containerUser .containerCardUser .cardUser .actionUser .btn-delete:hover {
  background-color: #ff5252;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 1649px) and (min-width: 1000px) {
  .containerUser .containerCardUser {
    width: 1150px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .containerUser .containerCardUser {
    width: 520px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerUser .containerCardUser {
    width: 350px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  .containerUser .containerCardUser .contentTitle > h3 {
    font-size: 15px;
  }
  .containerUser .containerCardUser .cardUser {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerUser {
    width: 100%;
    margin-top: 25px;
  }
  .containerUser .containerInfoProfil {
    margin-bottom: 15px;
    margin-right: 12px;
    margin-left: 12px;
    padding: 6px;
    height: 550px;
  }
}
.containerCreate {
  width: 75vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 50px;
  background-color: white;
  display: flex;
  box-shadow: 1px 1px 25px grey;
}
.containerCreate form {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  padding: 20px 0;
}
.containerCreate form .formCreate .formTitle {
  color: #1e272e;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}
.containerCreate form .formCreate .formWidget {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.containerCreate form .formCreate .formWidget .formErrors {
  color: #ff5252;
}
.containerCreate form .formCreate .formWidget input {
  width: 100%;
  height: 35px;
  border: 1px solid #222f3e;
}
.containerCreate form .formCreate .formWidget input:focus {
  background-color: #222e3e0e;
}
.containerCreate form .formCreate .formWidget textarea {
  width: 100%;
  height: 75px;
  resize: none;
  border-radius: 5px;
}
.containerCreate form .formCreate .formWidget #property_description {
  font-family: "roboto";
}
.containerCreate form .formCreate .formWidget #property_category {
  width: 100%;
  height: 35px;
}
.containerCreate form .formCreate .formWidget #property_type {
  width: 100%;
  height: 35px;
}
.containerCreate form .formCreate .formWidget #property_imageFile {
  height: 23px;
}
.containerCreate form .formCreate .containerSelect {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.containerCreate form .formCreate .containerSelect .formTitle {
  height: 30px;
}
@media screen and (max-width: 1000px) and (min-width: 768px) {
  .containerCreate form .formCreate .formTitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerCreate form .formCreate .formTitle {
    font-size: 15px;
    width: 90%;
  }
  .containerCreate form .formCreate .formWidget {
    width: 90%;
  }
}
.containerCreate form .btn-create {
  margin-top: 20px;
  padding: 10px 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1e272e;
  border: none;
  color: white;
  cursor: pointer;
}
.containerCreate form .btn-create:hover {
  background: #ff5252;
}

@media screen and (max-width: 768px) and (min-width: 350px) {
  .containerCreate {
    width: 90vw;
    padding-top: 0px;
  }
  .containerCreate form {
    width: 100%;
  }
  .containerCreate form .formCreate > .formWidget {
    width: 90%;
  }
}
.containerLogin {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.containerLogin .formLogin {
  width: 500px;
  padding: 40px;
  background-color: white;
  box-shadow: 1px 1px 25px grey;
  text-align: center;
}
.containerLogin .formLogin input[type=text], .containerLogin .formLogin input[type=password] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #1e272e;
  padding: 15px 50px;
  width: 350px;
  outline: none;
  border-radius: 5px;
  transition: 0.25s;
}
.containerLogin .formLogin input[type=text]:focus, .containerLogin .formLogin input[type=password]:focus {
  width: 400px;
  border-color: #ff5252;
}
.containerLogin .formLogin input[type=submit] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #1e272e;
  padding: 15px 40px;
  outline: none;
  border-radius: 5px;
  transition: 0.25s;
  color: #1e272e;
  cursor: pointer;
}
.containerLogin .formLogin input[type=submit]:hover {
  background: #ff5252;
  color: white;
  border: 2px solid #ff5252;
}

@media screen and (max-width: 550px) and (min-width: 350px) {
  .containerLogin {
    margin-top: 100px;
  }
  .containerLogin .formLogin {
    width: 400px;
    padding: 0px;
  }
  .containerLogin .formLogin input[type=text], .containerLogin .formLogin input[type=password] {
    background: none;
    display: block;
    margin: 20px auto;
    padding: 15px 50px;
    width: 200px;
  }
  .containerLogin .formLogin input[type=text]:focus, .containerLogin .formLogin input[type=password]:focus {
    width: 250px;
  }
}
.errorLogin {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35px;
  justify-content: flex-start;
  padding: 40px;
  background: linear-gradient(to right, #F8D7DA, rgba(0, 0, 0, 0));
}

/*# sourceMappingURL=style.css.map */
