{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Interface administrateur' %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-6 alert-info text-center">
                <p class="h4">Total annonces :</p><span class="display-4">{{ countAllProperties['value'] }}</span>
            </div>
            <div class="col-6 alert-success text-center">
                <p class="h4">Nombre d'utilisateurs :</p><span class="display-4">{{ countAllUser['value'] }}</span>
            </div>
        </div>
    </div>

{% endblock %}
