{% extends 'base.html.twig' %}

{% block title %}Agence Code{% endblock %}

{% block body %}

    <h1>Page non trouvée</h1>
    <h2>Code : {{status_code}}</h2>
    <h4>La page que vous cherchez n'a pas été trouvée</h4>

{% endblock %}