{% extends 'base.html.twig' %}

{% block title %}Agence Code{% endblock %}

{% block body %}

    <h1>Accès refusé</h1>
    <h2>Code : {{status_code}}</h2>
    <h4>Vous n'êtes pas autorisé à accéder à la page Web: https://agence-code.philippe-nguyen/admin.com</h4>
    <a href="https://agence-code.philippe-nguyen.com">Retour au site</a>

{% endblock %}